<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" 
                   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="SalesFlow"></title>
        <link rel="stylesheet" th:href="@{/css/layout/main.css}">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
        <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
        <link rel="stylesheet" th:href="@{/css/layout/sidebar.css}">
        <link rel="stylesheet" th:href="@{/css/fragments/cards.css}">
        <link rel="stylesheet" th:href="@{/css/fragments/item.css}">
        <link rel="stylesheet" th:href="@{/css/pages/cliente-cadastro.css}">
        <link rel="stylesheet" th:href="@{/css/pages/lista-clientes.css}">
        <link rel="stylesheet" th:href="@{/css/pages/home.css}">
        <link rel="stylesheet" th:href="@{/css/pages/error.css}">
    </head>
    <body>
        <div class="main-wrapper">
            <aside class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></aside> 
            <div class="content-wrapper">
                <header class="header" th:replace="~{fragments/header :: header}"></header>
                <main class="content" layout:fragment="content">
                    <!-- <div th:replace="~{pages/home :: homeContent}"></div>  -->
                </main>    
            </div>
        </div>
    <script src="https://unpkg.com/imask"></script>
    <script th:src="@{/js/cadastro_notas.js}"></script>
    <script th:src="@{/js/filtro-notas.js}"></script>
    <script th:src="@{/js/masks.js}"></script>
    <script th:src="@{/js/visualizar_nf.js}"></script>
    <script th:src="@{/js/pedidos.js}"></script>
    </body>
</html>