body{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-container{
    text-align: center;
    background-color: #ffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
}

#titulo-erro {
    font-size: 3em;
    color: #dc3545;
    margin-bottom: 10px;
}

.details {
    margin-top: 20px;
    font-size: 0.9em;
    color: #adb5bd;
}