<nav class="sidebar" th:fragment="sidebar">
    <ul>
        <li><a th:href="@{/}">Dashboard</a></li>
        <li th:classappend="${paginaAtual == 'clientes'} ? 'active' : ''">
            <a th:href="@{/clientes}">Clientes</a>
        </li>
        <li th:classappend="${paginaAtual == 'produtos'} ? 'active' : ''">
            <a th:href="@{/produtos}">Produtos</a>
        </li>
        <li th:classappend="${paginaAtual == 'fornecedores'} ? 'active' : ''">
            <a th:href="@{/fornecedores}">Fornecedores</a>
        </li>
        <li th:classappend="${paginaAtual == 'notas_fiscais'} ? 'active' : ''">
            <a th:href="@{/notas_fiscais}"><i class="icon-users"></i> Notas fiscais</a>
        </li>
    </ul>
</nav>