<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<body>
    <section layout:fragment="content" class="dashboard-content">
        <div class="dashboard-cards">
            <h1>Dashboard Principal</h1>
            <div class="line-one">
                <div class="card card-vendas">
                    <p>Vendas do mês</p>
                    <p style=color:green th:text="'R$ ' + ${vendas}"></p>
                </div>
                <div class="card card-vendas">
                    <p>Compras do mês</p>
                    <p style=color:red th:text="'R$ ' + ${compras}"></p>
                </div>
            </div>
            <div class="line-two">
                <div class="card box">
                    <div class="filter-container">
                        <form method="get" th:action="@{/}">
                            <label for="periodo">Filtrar por período:</label>
                            <select name="periodo" id="periodo">
                                <option value="mes_atual">Mês Atual</option>
                                <option value="ultimos_30_dias">Últimos 30 dias</option>
                                <option value="ultimos_6_meses">Últimos 6 meses</option>
                                <option value="ultimo_ano">Último ano</option>
                            </select>
                            <button type="submit">Atualizar</button>
                        </form>
                    </div>
                    <img th:src="@{${graficoVendas}}" alt="Gráfico de ranking de produtos" class="chart-img"/>
                </div>
            </div>
        <script src="https://unpkg.com/imask"></script>
        <script th:src="@{/js/masks.js}"></script>
        <script th:src="@{/js/filtro-notas.js}"></script>
        <script th:src="@{/js/cadastro-notas.js}"></script>
        </div>
    </section>
</body>
</html>

