<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

    <head>
        <title>Pedidos - SalesFLow</title>
    </head>
    <section layout:fragment="content">
        <h2>Gerenciamento de Pedidos</h2>
        <a th:href="@{/pedido}"><button>Novo pedido</nav></button></a>
        <div class="container-pesquisa">
            <div class="container-pesquisa-clientes">
                <form method="get" th:action="@{/pedido/pesquisar}">
                    <input type="text" name="palavraChave" placeholder="Palavra chave" th:value="${palavraChave != null ? palavraChave : ''}">   
                    <input type="text" name="loginUsuario" placeholder="Usuario" th:value="${loginUsuario != null ? loginUsuario : ''}">   
                    <input type="text" name="departamento" placeholder="DeTpartamento" th:value="${departamento != null ? departamento : ''}">   
                    <input type="text" name="dataInicio" placeholder="Data Inicial" th:value="${dataInicio != null ? dataInicio : ''}">   
                    <input type="text" name="dataFinal" placeholder="Data Final" th:value="${dataFinal != null ? dataFinal : ''}">   
                     <select name="status" id="status" th:value="${status}">
                        <option value="EM ANÁLISE" th:selected="${status == NENHUMA}">Em análise</option>
                        <option value="NEGADO" th:selected="${status == 'NEGADO'}">Negado</option>
                        <option value="APROVADO" th:selected="${status == 'APROVADO'}">Aprovado</option>
                    </select>   
                    <button type="submit">Pesquisar</button>
                </form>
            </div>
            <div class="container-table-clientes">
                <table>
                    <thead>
                        <tr>
                            <th>Número do pedido</th>
                            <th>Titulo</th>
                            <th>Usuário</th>
                            <th>Departamento</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.numPedido}"></td>
                            <td th:text="${pedido.titulo}"></td>
                            <td th:text="${pedido.nomeUsuario}"></td>
                            <td th:text="${pedido.departamento}"></td>
                            <td th:text="${pedido.dataFormatada}"></td>
                            <td th:text="${pedido.status}"></td>
                            <td>
                                <button type="button" th:onclick="'abrirPopupPedido('+ ${pedido.numPedido} +')'"><img th:src="@{/images/lupa.png}" alt="icone de lupa"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pedidoModal" class="modal">
                      <div class="modal-content">
                        <span class="close" onclick="fecharPopupPedido()">&times;</span>
                        <h3>Detalhes do Pedido</h3>
                        <p><strong>Número: </strong> <span id="modalNumPedido"></span></p>
                        <p><strong>Título: </strong> <span id="modalTitulo"></span></p>
                        <p><strong>Usuário: </strong> <span id="modalUsuario"></span></p>
                        <p><strong>Departamento: </strong> <span id="modalDepartamento"></span></p>
                        <p><strong>Data: </strong> <span id="modalData"></span></p>
                        <p><strong>Status: </strong> <span id="modalStatus"></span></p>
                        <p><strong>Descrição: </strong> <span id="modalDescricao"></span></p> 
                        <button id="btnAprovar" type="button" style="background-color: green; :hover{background-color: rgb(1, 87, 1)}"><img th:src="@{/images/caixa-de-selecao.png}"></button>
                        <button id="btnNegar" type="button" style="background-color: red; :hover {background-color: rgb(145, 0, 0)}"><img th:src="@{/images/circulo-cruzado.png}"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/pedidos.js}"></script>
</html>