<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<head>
    <title layout:fragment="title">Cadastro de Produto</title>
</head>

    <body>
        <main layout:fragment="content">
            <h2>Cadastro de Produto</h2>

            <div class="container-cadastro">
                <form method="post" action="/produtos/cadastrar">
                    <input type="text" name="nome" placeholder="Nome" th:value="${produto?.nome}" required />
                    <input type="text" name="descricao" placeholder="Descrição do produto" th:value="${produto?.descricao}" required />
                    <input type="endereco" name="marca" placeholder="Marca" th:value="${produto?.marca}" />
                    <input type="number" name="preco" step="0.01" min="0.01" placeholder="Preço" th:value="${produto?.preco}" />
                    <input type="number" name="estoque" step="1" min="1" placeholder="Estoque" th:value="${produto?.estoque}" />
                    <button type="submit">Cadastrar</button>
                </form>
            </div>

            <p th:if="${mensagem}" th:text="${mensagem}"></p>
            <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
        </main>
        <script src="https://unpkg.com/imask"></script>
        <script th:src="@{/js/masks.js}"></script>
    </body>
</html>