<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main_layout}">
      
    <head>
        <title layout:fragment="title">Solicitação de Pedidos</title>
    </head>

    <body>
        <main layout:fragment="content">
            <h2>Solicitação de Pedidos</h2>
            <a th:href="@{/pedido/pesquisar}" sec:authorize="hasAuthority('GERENTE')"><button>Gerenciar pedidos</button></a>
            <div class="container-cadastro">
                <form method="post" action="/pedido/solicitar_pedido">
                    <input type="text" name="titulo" placeholder="Titulo" th:value="${pedido?.titulo}">
                    <textarea id="descricao" name="descricao" rows="10" cols="50" 
                                placeholder="Descreva e justifique o pedido" required th:text="${pedido?.descricao}">
                    </textarea>
                    <button type="submit">Solicitar</button>
                </form>
            </div>

            <p th:if="${mensagem}" th:text="${mensagem}"></p>
            <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
        </main>
    </body>
</html>